# Preprocessing required : Extract Rating number from [Rating] column <- Create Label Based on Rating

In [1]:
import pandas as pd

C:\Users\El Hamd\AppData\Local\Temp\ipykernel_22668\217833862.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df = pd.read_excel('scraped_data.xlsx')
df.head()

,Reviewee Name,Rating,Question,Review,Review Date
0,Chloe B,Rated 5 out of 5 stars,Brilliant service!,"The removal men were quick, polite and very fl...",2 days ago
1,FL,Rated 5 out of 5 stars,Great before/during/after service,What a pleasant overall experience. Thank you ...,3 days ago
2,Adetokunbo Jolaoso,Rated 5 out of 5 stars,Superb one-off cleaning,Archie (apologies if spelt incorrectly) was ju...,2 days ago
3,Haynes,Rated 5 out of 5 stars,Fantastic Service indeed,I recently hired Fantastic Services to tame my...,4 days ago
4,Ms Alison Turner,Rated 5 out of 5 stars,Great job from the handyman!,The handyman from Fantastic Services was terri...,5 days ago

In [7]:
# Convert Rating to numbers
def extract_rating(rating_str):
    import re
    match = re.search(r'Rated (\d) out of 5 stars', rating_str)
    if match:
        return int(match.group(1))
    return None

# Apply the extract_rating function
df['Rating'] = df['Rating'].apply(extract_rating)

In [8]:
df.head()

,Reviewee Name,Rating,Question,Review,Review Date
0,Chloe B,5,Brilliant service!,"The removal men were quick, polite and very fl...",2 days ago
1,FL,5,Great before/during/after service,What a pleasant overall experience. Thank you ...,3 days ago
2,Adetokunbo Jolaoso,5,Superb one-off cleaning,Archie (apologies if spelt incorrectly) was ju...,2 days ago
3,Haynes,5,Fantastic Service indeed,I recently hired Fantastic Services to tame my...,4 days ago
4,Ms Alison Turner,5,Great job from the handyman!,The handyman from Fantastic Services was terri...,5 days ago

In [25]:
X = df[df['Rating'] == 4]['Review']
X[9]

'The Gardeners were fine and did a decent job. But Fantastic services have a very high price for garden waste disposal. £55 per bag is just preposterous. They wanted to charge me upwards of £600 to take away the waste. I got a waste disposal company to collect the same waste for £200'

In [26]:
# Create the label column based on the rating
def create_label(rating):
    if rating >= 4:
        return 1
    else:
        return 0

# Apply the create_label function to generate the label column
df['label'] = df['Rating'].apply(create_label)

In [27]:
df.head()

,Reviewee Name,Rating,Question,Review,Review Date,label
0,Chloe B,5,Brilliant service!,"The removal men were quick, polite and very fl...",2 days ago,1
1,FL,5,Great before/during/after service,What a pleasant overall experience. Thank you ...,3 days ago,1
2,Adetokunbo Jolaoso,5,Superb one-off cleaning,Archie (apologies if spelt incorrectly) was ju...,2 days ago,1
3,Haynes,5,Fantastic Service indeed,I recently hired Fantastic Services to tame my...,4 days ago,1
4,Ms Alison Turner,5,Great job from the handyman!,The handyman from Fantastic Services was terri...,5 days ago,1

In [29]:
df.to_excel('Labeled_Data.xlsx' , index= False)